<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="../js/scripts/jquery/jquery.min.js?v=2.1.4"></script>
<link href="../css/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="../css/style/authority/common_style.css" rel="stylesheet" type="text/css">
	<link href="../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
	<link href="../css/style/authority/jquery-confirm.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/scripts/authority/commonAll.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
	<link href="https://cdn.bootcss.com/select2/4.0.6-rc.1/css/select2.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/select2.js"></script>

<script type="text/javascript" src="../js/scripts/artDialog/artDialog.js?skin=default"></script>
	<script src="../css/pagination/pagination.css"></script>

	<script src="../js/login/jquery.cookie.js"></script>
	<script src="../js/pagination/jquery.pagination.js"></script>
	<script src="../js/scripts/bootstrap/bootstrap.min.js?v=3.3.6"></script>
	<script type="text/javascript" src="../js/scripts/jquery/jquery-confirm.js"></script>
	<script src="../js/class/class.js"></script>
<title>信息管理系统</title>
<style>
	.alt td{ background:black !important;}
</style>
</head>
<body>
	<form id="submitForm" name="submitForm" action="" method="post">
		<input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
		<input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
		<div id="container">
			<div class="ui_content">
				<div class="ui_text_indent">
					<div id="box_border">
					<div id="box_top">班级信息表单</div>
						<div id="box_bottom">
					<!--		<input id="c_name" type="text" placeholder="请输入经纪人的姓名 …"
								   style="text-align:center;height:20px; line-height:20px;">-->
							<!--<input type="button" value="查询" class="ui_input_btn01" onclick="search();" />-->
							<!--<input id="c_name" type="text" placeholder="请输入您需要查找的内容 …"
								   style="text-align:center;height:30px; line-height:30px;margin:10px 0px 10px 50px;">
							<input type="button" value="查询" class="ui_input_btn01" onclick="findApplicant();" />-->
							<!--<div>-->
								<!--<span>学历:</span>-->
								<!--<select class="grade_selector" style="width: 100px;">-->
									<!-- <option value="">&#45;&#45;请选择&#45;&#45;</option>-->
									<!-- <option value="">中专</option>-->
									<!-- <option value="">大专</option>-->
									<!-- <option value="">本科</option>-->
									<!-- <option value="">硕士</option>-->
									<!-- <option value="">博士</option>-->
								<!--</select>-->
							<!--</div>-->
							<!--<div>-->
								<!--<span>全日制:</span>-->
								<!--<select class="full_time_seletor" style="width: 100px;">-->
									<!-- <option value="">&#45;&#45;请选择&#45;&#45;</option>-->
									<!-- <option value="">是</option>-->
									  <!--<option value="">否</option>-->
								<!--</select>-->
							<!--</div>-->
							<input type="button" value="新增班级" class="ui_input_btn01" onclick="createClass();" />
							<input type="button" value="修改状态" class="ui_input_btn01" onclick="updateStatus();" />

							<!--<input type="button" value="筛选" class="ui_input_btn01" onclick="search();" />-->
					</div>
				</div>
			</div>
			<div class="ui_content">
				<div class="ui_tb">
					<table id="t_table" class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style="text-align: center">
						<thead>
						<tr >
							<th><input type="checkbox" class="bs-checkbox"  style="width: 36px;"></th>
							<th>编号</th>
							<th>班级名字</th>
							<th>课程名字</th>
							<th>课程课时</th>
							<th>任课老师</th>
							<th>创建时间</th>
							<th>状态</th>
							<th>操作区</th>
						</tr>
						</thead>
						<tbody style="text-align: center;" id="class_td"></tbody>
					</table>
				</div>
				<div class="M-box">-->
					<div class="Pagination" id="pagination"></div>
				</div>
			</div>
		</div>
		</div>
	</form>


	<div class="modal" id="class_create_alter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: auto;">
		<div class="modal-dialog" id="class_create_dialog">
			<div class="modal-content" align="center" style="overflow: scroll; height: 500px; width: 800px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cancelClassModal()">
						×
					</button>
					<h4 class="modal-title" id="myModalLabel2">
						新增班级页面
					</h4>
				</div>
				<div class="modal-body">
					<table width="100%" align="absbottom" class="table">
						<form id="createClassForm" method="post">
							<div style="margin-bottom: 20px">班级名字 : <input name="className" required="required"/><span style="color: red">*</span></div>
							<div style="margin-bottom: 20px">课程名字 : <input name="courseName" required="required"/><span style="color: red">*</span></div>
							<div style="margin-bottom: 20px">课程课时 :
								<select name="classHour" style="width: 174px" required="required">
									<option value="-1">请选择</option>
									<option value="0" >0</option>
									<option value="0.5" >0.5</option>
									<option value="1.0" >1.0</option>
									<option value="1.5" >1.5</option>
									<option value="2.0" >2.0</option>
									<option value="2.5" >2.5</option>
									<option value="3.0" >3.0</option>
									<option value="3.5" >3.5</option>
									<option value="4.0" >4.0</option>
									<option value="4.5" >4.5</option>
									<option value="5.0" >5.0</option>
									<option value="5.5" >5.5</option>
									<option value="6.0" >6.0</option>
									<option value="6.5" >6.5</option>
									<option value="7.0" >7.0</option>
									<option value="7.5" >7.5</option>
									<option value="8.0" >8.0</option>
								</select><span style="color: red">*</span>
							</div>
							<div style="margin-bottom: 20px">任课老师 :
								<select name="tId" id="tt" style="width: 174px" required="required">
									<option value="-1">请选择</option>
								</select><span style="color: red">*</span>
							</div>

						</form>
					</table>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="saveClass" onclick="saveClass()">
						提交保存
					</button>
					<button type="button" onclick="cancelClassModal()" class="btn btn-default" data-dismiss="modal">关闭
					</button>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</body>
</html>
