<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../js/scripts/jquery/jquery-1.7.1.js"></script>
<link href="../css/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="../css/style/authority/common_style.css" rel="stylesheet" type="text/css">
	<link href="../css/style/authority/jquery-confirm.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="../js/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="../js/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
<script type="text/javascript" src="../js/scripts/artDialog/artDialog.js?skin=default"></script>
	<script src="../css/pagination/pagination.css"></script>
	<script src="../js/login/jquery.cookie.js"></script>
	<script src="../js/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/scripts/jquery/jquery-confirm.js"></script>
	<script src="../js/member/member.js"></script>
<title>信息管理系统</title>

<style>
	.alt td{ background:black !important;}
</style>
</head>
<body>
	<form id="submitForm" name="submitForm" action="" method="post">
		<input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
		<input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
		<div id="container">
			<div class="ui_content">
				<div class="ui_text_indent">
					<div id="box_border">
					<div id="box_top">学生信息表单</div>
						<div id="box_bottom">
					<!--		<input id="c_name" type="text" placeholder="请输入经纪人的姓名 …"
								   style="text-align:center;height:20px; line-height:20px;">-->
							<!--<input type="button" value="查询" class="ui_input_btn01" onclick="search();" />-->
							<input type="button" value="修改" class="ui_input_btn01" onclick="updateStatus();" />
							<input type="button" value="导出" class="ui_input_btn01" onclick="exportExcel();" />
						</div>
					</div>
				</div>
			</div>
			<div class="ui_content">
				<div class="ui_tb">
					<table id="t_table" class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<thead>
						<tr>
							<th></th>
							<th>序号</th>
							<th>学生姓名</th>
							<th>学生性别</th>
							<th>学生生日</th>
							<th>学生监护人</th>
							<th>监护人手机</th>
							<th>住址</th>
							<th>创建时间</th>
							<th>状态</th>
						</tr>
						</thead>
						<tbody style="text-align: center;" id="house_td"></tbody>
					</table>
				</div>
				<div class="M-box">
					<div class="Pagination" id="pagination"></div>
				</div>
			</div>
		</div>
	</form>

</body>
</html>
