<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.student.mapper.CoursePackageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hc.modules.student.entity.CoursePackageEntity" id="coursePackageMap">
        <result property="id" column="id"/>
        <result property="classPackage" column="class_package"/>
        <result property="buyClassHour" column="buy_class_hour"/>
        <result property="consumedClassHour" column="consumed_class_hour"/>
        <result property="isValidity" column="is_validity"/>
        <result property="periodOfValidity" column="period_of_validity"/>
        <result property="price" column="price"/>
        <result property="createTime" column="create_time"/>
        <result property="studentId" column="student_id"/>
        <result property="leftClassHour" column="left_class_hour"/>
    </resultMap>

    <resultMap id="studentMap" type="com.hc.modules.student.entity.StudentEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birth" column="birth"/>
        <result property="guarderPhone" column="guarder_phone"/>
        <result property="teacherId" column="teacher_id"/>
        <collection property="coursePackageEntityList" ofType="com.hc.modules.student.entity.CoursePackageEntity" javaType="ArrayList">
            <result property="id" column="c_id"/>
            <result property="classPackage" column="class_package"/>
            <result property="buyClassHour" column="buy_class_hour"/>
            <result property="consumedClassHour" column="consumed_class_hour"/>
            <result property="isValidity" column="is_validity"/>
            <result property="periodOfValidity" column="period_of_validity"/>
            <result property="price" column="price"/>
            <result property="createTime" column="create_time"/>
            <result property="studentId" column="student_id"/>
            <result property="leftClassHour" column="left_class_hour"/>
        </collection>
    </resultMap>

    <select id="getStudentCoursePackageList" resultMap="studentMap">
        SELECT a.id,a.name,a.gender,a.birth,a.guarder_phone,a.teacher_id,
        b.id AS c_id,b.class_package,b.buy_class_hour,b.consumed_class_hour,b.is_validity,b.period_of_validity,b.price,b.create_time,b.left_class_hour
        FROM student a LEFT JOIN course_package b ON a.id = b.student_id
        WHERE a.id=#{studentId}
    </select>

    <insert id="createCoursePackage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course_package(class_package,buy_class_hour,consumed_class_hour,left_class_hour,period_of_validity,price,student_id)
        VALUES (#{classPackage},#{buyClassHour},#{consumedClassHour},#{leftClassHour},#{periodOfValidity},#{price},#{studentId})
    </insert>

    <select id="coursePackageList" resultMap="coursePackageMap">
        SELECT id,class_package,buy_class_hour,consumed_class_hour,left_class_hour,is_validity,period_of_validity,price,create_time,student_id
        FROM course_package
        WHERE student_id = #{studentId}
    </select>

    <select id="getCpid" resultType="Integer">
        SELECT c_p_id from class_student WHERE c_id=#{classId} AND s_id=#{studentId}
    </select>

    <!--<insert id="setCoursePackage">
        INSERT INTO class_student(c_id,s_id,c_p_id)
        VALUES (#{classId},#{studentId},#{cpid})
    </insert>-->

    <update id="updateCoursePackage" >
        UPDATE class_student SET c_p_id=#{cpid} WHERE c_id=#{classId} AND s_id=#{studentId}
    </update>


</mapper>
