<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.course.mapper.CourseMapper">

    <resultMap id="courseMap" type="com.hc.modules.course.entity.CourseEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tId" column="t_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getCourseList" resultMap="courseMap">

        SELECT c.id,c.name,c.t_id,c.create_time FROM role_user a
          LEFT JOIN teacher b
          ON a.id = b.user_id
          LEFT JOIN course c ON b.id = c.t_id
          WHERE a.username=#{username}
    </select>

    <select id="getT" resultType="com.hc.modules.teacher.entity.TeacherEntity">
         SELECT b.id FROM role_user a
          LEFT JOIN teacher b
          ON a.id = b.user_id
          WHERE a.username=#{username}
    </select>

    <insert id="insertCourse">
        INSERT INTO course(name,t_id)
        VALUES(#{name},#{tId})
    </insert>
</mapper>
