<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.student.mapper.StudentMapper">

   <insert id="insertStudent" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO student(name,gender,birth,guarder,guarder_phone,
       address,class_package,charging_standard,buy_class_hour,consumed_class_hour,
       is_validity,period_of_validity,price)
       VALUES(#{name},#{gender},#{birth},#{guarder},#{guarderPhone},#{address},#{classPackage},
       #{chargingStandard},#{buyClassHour},#{consumedClassHour},
       #{isValidity},#{periodOfValidity},#{price})
   </insert>

    <insert id="linkClassStudent">
        INSERT INTO class_student(s_id,c_id)
        VALUES(#{sid},#{cid})
    </insert>

</mapper>
