<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.student.mapper.StudentMapper">

   <insert id="createStudent" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO student(name,gender,birth,guarder_phone)
       VALUES(#{name},#{gender},#{birth},#{guarderPhone})
   </insert>

    <insert id="linkClassStudent" >
        INSERT INTO class_student(s_id,c_id)
        VALUES(#{sid},#{cid})
    </insert>

    <select id="getStudentById" resultType="com.hc.modules.student.entity.StudentEntity">
        SELECT * FROM student WHERE id=#{sid}
    </select>


</mapper>
