<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.student.mapper.StudentMapper">

    <resultMap id="studentMap" type="com.hc.modules.student.entity.StudentEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birth" column="birth"/>
        <result property="guarder" column="guarder"/>
        <result property="guarderPhone" column="guarder_phone"/>
        <result property="address" column="address"/>
        <result property="userId" column="user_id"/>
    </resultMap>

   <insert id="createStudent" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO student(name,gender,birth,guarder_phone,userId)
       VALUES(#{name},#{gender},#{birth},#{guarderPhone},#{userId})
   </insert>

    <insert id="linkClassStudent" >
        INSERT INTO class_student(s_id,c_id)
        VALUES(#{sid},#{cid})
    </insert>

    <select id="getStudentById" resultType="com.hc.modules.student.entity.StudentEntity">
        SELECT * FROM student WHERE id=#{sid}
    </select>

    <select id="selectStudentList" resultMap="studentMap">
        SELECT * FROM student WHERE user_id=#{id}
    </select>

    <delete id="deleteStudent">
        DELETE FROM student Where id=#{studentId}
    </delete>

    <select id="getUserId" resultType="Integer">
         SELECT a.id FROM role_user a
          WHERE a.username=#{username}
    </select>

</mapper>
