<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.teacher.mapper.TeacherMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hc.modules.teacher.entity.ClassEntity" id="classMap" extends="courseMap">
        <id property="id" column="id"/>
        <result property="className" column="class_name"/>
        <result property="classHour" column="class_hour"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="cId" column="c_id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="courseMap" type="com.hc.modules.course.entity.CourseEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tId" column="t_id"/>
    </resultMap>

    <resultMap id="teacherMap" type="com.hc.modules.teacher.entity.TeacherEntity">
        <id property="id" column="tea_id"/>
        <result property="name" column="teacher_name"/>
        <result property="gender" column="gender"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="studentMap" type="com.hc.modules.student.entity.StudentEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birth" column="birth"/>
        <result property="guarder" column="guarder"/>
        <result property="guarderPhone" column="guarder_phone"/>
        <result property="classPackage" column="class_package"/>
        <result property="chargingStandard" column="charging_standard"/>
        <result property="buyClassHour" column="buy_class_hour"/>
        <result property="consumedClassHour" column="consumed_class_hour"/>
        <result property="isValidity" column="is_validity"/>
        <result property="periodOfValidity" column="period_of_validity"/>
        <result property="price" column="price"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getClassList" resultMap="classMap">

      SELECT a.id ,c.name
            FROM class a
            LEFT JOIN course c ON a.c_id = c.id
             LEFT JOIN  teacher b
             on a.teacher_id = b.id
    </select>

    <select id="getTeacherList" resultMap="teacherMap">
        SELECT id AS tea_id,name,gender,user_id FROM teacher
    </select>

    <insert id="insertClass" parameterType="com.hc.modules.teacher.entity.ClassEntity">
        INSERT INTO class(class_name,course_name,class_hour,t_id,c_id)
        VALUES(#{className},#{courseName},#{classHour},#{tId},#{cId})
    </insert>

    <update id="updateClassStatus">
        UPDATE class SET status=#{status} WHERE id=#{id}
    </update>

    <select id="getClassStudentById" parameterType="Integer" resultMap="studentMap">
        SELECT c.*
        FROM class a LEFT JOIN class_student b on a.id = b.c_id
        LEFT JOIN student c ON b.s_id = c.id
        WHERE a.id=#{id}
    </select>


</mapper>
