<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.modules.teacher.mapper.TeacherMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hc.modules.teacher.entity.ClassEntity" id="classMap">
        <id property="id" column="id"/>
        <result property="className" column="class_name"/>
        <result property="classHour" column="class_hour"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="cId" column="c_id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="courseName" column="course_name"/>
    </resultMap>

    <resultMap id="courseMap" type="com.hc.modules.course.entity.CourseEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tId" column="t_id"/>
    </resultMap>

    <resultMap id="teacherMap" type="com.hc.modules.teacher.entity.TeacherEntity">
        <id property="id" column="tea_id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="studentMap" type="com.hc.modules.student.entity.StudentEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birth" column="birth"/>
        <result property="guarderPhone" column="guarder_phone"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getClassList" resultMap="classMap">

      SELECT a.* ,c.name AS course_name,b.name AS teacher_name
            FROM class a
            LEFT JOIN course c ON a.c_id = c.id
             LEFT JOIN  teacher b
             on a.teacher_id = b.id
    </select>

    <select id="getTeacherList" resultMap="teacherMap">
        SELECT id AS tea_id,name,gender,user_id FROM teacher
    </select>

    <insert id="insertClass" parameterType="com.hc.modules.teacher.entity.ClassEntity">
        INSERT INTO class(class_name,course_name,class_hour,teacher_id,c_id)
        VALUES(#{className},#{courseName},#{classHour},#{teacherId},#{cId})
    </insert>

    <update id="updateClassStatus">
        UPDATE class SET status=#{status} WHERE id=#{id}
    </update>

    <select id="getClassStudentById" parameterType="Integer" resultMap="studentMap">
        SELECT c.*
        FROM class a LEFT JOIN class_student b on a.id = b.c_id
        LEFT JOIN student c ON b.s_id = c.id
        WHERE a.id=#{id}
    </select>

    <insert id="insertClassStudents">
        INSERT INTO class_student(c_id, s_id)
        VALUES
        <foreach collection ="list" item="item" separator ="," index="index">
            (#{coid}, #{item})
        </foreach >
    </insert>

    <select id="getClassAbsentStudentList" resultMap="studentMap">
         SELECT  a.id,a.name,a.gender,a.birth,a.guarder_phone
        FROM student a
        WHERE a.id NOT IN (select s_id from class_student where c_id=#{classId})

    </select>

    <insert id="insertLessonStudents">
        INSERT INTO lesson_student(lesson_id, student_id)
        VALUES
        <foreach collection ="list" item="item" separator ="," index="index">
            (#{coid}, #{item})
        </foreach >
    </insert>
</mapper>
